ass==0.4.1
ccsm==0.9.8.6
cctrl==1.16.1
CDDB==1.4
certifi==2015.4.28
chardet==2.0.1
cnh==1.16.1
compizconfig-python==0.9.8.6
cssselect==0.9.1
decorator==3.4.0
deepin-gsettings==0.1
deepin-menu==0.1
deepin-utils==1.0
dnspython==1.11.1
dotcloudng==1.16.1
dtk==1.0.3
ecdsa==0.13
GeoIP-Python==1.2.4
httplib2==0.9.1
jieba==0.36.2
lxml==3.3.3
Magic-file-extensions==0.2
mutagen==1.22
numpy==1.8.2
oauthlib==0.6.1
paramiko==1.15.2
pbr==0.11.0
peewee==2.4.4
Pillow==2.3.0
pycclib==1.6.2
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygobject==3.14.0
PyICU==1.5
pyquery==1.2.8
pysmbc==1.0.14.1
pysrt==1.0.1
python-apt===0.9.1ubuntu2
python-debian===0.1.21-nmu2ubuntu2
python-xlib==0.14
requests==2.2.1
requests-oauthlib==0.4.0
scipy==0.13.3
six==1.9.0
stevedore==1.4.0
urllib3==1.7.1
vboxapi==1.0
virtualenv==13.0.1
virtualenv-clone==0.2.5
virtualenvwrapper==4.5.1
WebOb==1.3.1
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xappy==0.5
xpybutil==0.0.1
